{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>question</title>
  </head>
  <body>
    <div class="infinite-container">
      {%for data in question%}
        <div class="infinite-item">{{ data }}</div>
      {%endfor%}
    </div>
    <div class="loading" style="display: none;">
      Loading...
    </div>
    {%if next%}
      <a class="infinite-more-link" href="?page={{ pageNo }}"></a>
    {%endif%}
<!-- order should be same otherwise it will show some error -->
    <script src="{%static 'js/jquery-3.1.1.min.js'%}" charset="utf-8"></script>
    <script src="{%static 'js/jquery.waypoints.min.js'%}" charset="utf-8"></script>
    <script src="{%static 'js/infinite.min.js'%}" charset="utf-8"></script>
    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
    </script>
  </body>
</html>
