{%extends 'base.html'%}
{%load static%}

{%block title%}Home Page{%endblock%}
{%block content%}
    <div class="infinite-container">
      {%for data in question%}
        <div class="infinite-item">{{ data }}</div>
      {%endfor%}
    </div>
    <div class="loading" style="display: none;">
      Loading...
    </div>
    {%if next%}
      <a class="infinite-more-link" href="?page={{ pageNo }}"></a>
    {%endif%}
{%endblock%}


{%block script%}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{%endblock%}
