{%extends 'base.html'%}
{%load static%}

{%block title%}Reply Page{%endblock%}
{%block content%}
<!-- Message -->
<div class="row">
  <div class="col-sm-12">
    {% if messages %}
      <ul class="info">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="alert" id="mesaage" style="display:None"></div>
  </div>
</div>

<div class="row">
  <input type="text" name="reply" id="reply_text" data-url="{%url 'ques:reply_post_api'%}" data-csrf='{{csrf_token}}'>
  <input type="hidden" name="question" id="questionid" value="{{question_id}}">
  <button type="submit" name="button" onclick="postReply()">submit</button>
</div>
<!-- Reply -->
{{question}}
<div class="row">
  <div class="infinite-container">
    {%for data in reply%}
      <div class="infinite-item" data-section='ques'><a href="{%url 'ques:reply' data.id%}">{{ data }}</a></div>
    {%endfor%}
  </div>
  <div class="loading" style="display: none;">
    Loading...
  </div>
  {%if next%}
    <a class="infinite-more-link" href="?page={{ pageNo }}"></a>
  {%endif%}
</div>
{%endblock%}
{%block script%}
  <script src="{%static 'js/question.js'%}" charset="utf-8"></script>
{%endblock%}
