{%extends 'base.html'%}
{%load static%}

{%block title%}searches{%endblock%}
{%block content%}
<!-- Message -->
<div class="row">
  <div class="col-sm-12">
    {% if messages %}
    <ul class="info">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="alert" id="mesaage" style="display:None"></div>
  </div>
</div>

<!-- seaches -->
<div class="row">
  <div class="infinite-container">
    {%for data in searches%}
    <div class="infinite-item"><a href="{%url 'search:resultall'%}?q={{data.id}}">{{ data }}</a></div>
    {%endfor%}
  </div>
  <div class="loading" style="display: none;text-align:center">
    <lottie-player src="https://assets3.lottiefiles.com/datafiles/fPx4vaZrul2Fvg9/data.json" mode="normal" 
      speed="1" style="width:150px; height: 150px;" hover loop autoplay>
    </lottie-player>
  </div>
  {%if next%}
  <a class="infinite-more-link" href="?page={{ pageNo }}"></a>
  {%endif%}
</div>
{%endblock%}

{%block script%}
<script src="{%static 'js/question.js'%}" charset="utf-8"></script>
{%endblock%}